@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  width: 50%;
  margin: 0 auto;
}

header {
  text-align: center;
}

header h1 {
  font-size: 100px;
  color: #2c3e50;
  font-weight: 200;
}

.input {
  font-size: 20px;
  color: #2c3e50;
  width: 100%;
  border: none;
  outline: none;
  padding: 5px;
  border-bottom: 1px solid #2c3e50;
}

.message {
  margin: 15px 0;
  font-size: 16px;
}

.button {
  margin: 0 10px;
  padding: 10px;
  font-size: 14px;
  color: #6c6777;
  background: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100px;
}

.button.selected {
  color: #fff;
  background: #6c6777;
}

.button.clear {
  float: right;
  color: #fff;
  background: #ee1630;
  width: 170px;
}

.task {
  background: #34495e;
  padding: 15px;
  margin: 5px;
  overflow-x: hidden;
  border-radius: 5px;
  cursor: pointer;
}

.task span {
  color: #FFFFFF;
}

.done {
  text-decoration: line-through;
}

.icon {
  float: right;
  margin-right: 20px;
}

.edit-todo {
  width: 85%;
  font-size: 16px;
  color: #fff;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
}

.edit-todo:focus {
  outline: none;
}

article {
  display: grid;
  grid-template-columns: 1fr 0.5in [start] 1.25in 5in 1.25in [end] 0.5in 1fr;
}

article * {
  grid-column: start / end;
}

@media (max-width: 8.5in) {
  article {
    grid-template-columns: 1fr 5% [start] 15% 60% 15% [end] 5% 1fr;
  }
}

a,
a:visited,
a:active {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  transition: 0.5s color ease;
  text-decoration: none;
  color: #81b3d2;
}