/ECommerce-Website/client/node_modules
/Blog-Website/client/node_modules
/Blog-Website/server/node_modules
/ECommerce-Website/server/node_modules
/ECommerce-Website/server/.env
/Whatsapp-Clone/client/node_modules
/Whatsapp-Clone/server/node_modules
/Whatsapp-Clone/socket/node_modules
/Whatsapp-Clone/server/.env
/Inshorts-Clone/server/node_modules
/Inshorts-Clone/server/package-lock.json
/Inshorts-Clone/client/node_modules
/Inshorts-Clone/client/package-lock.json
/applestore-clone/client/node_modules
/applestore-clone/client/package-lock.json
/tesla-clone/client/node_modules
/tesla-clone/client/package-lock.json
/tesla-clone/server/node_modules
/tesla-clone/server/package-lock.json
/CRUD-application/crud-app/node_modules
/CRUD-application/crud-app/package-lock.json
/CRUD-application/crud-service/node_modules
/CRUD-application/crud-service/package-lock.json
/instagram-clone/client/node_modules
/instagram-clone/client/package-lock.json
/instagram-clone/server/node_modules
/instagram-clone/server/package-lock.json
/google-docs-clone/client/package-lock.json
/todo-list/client/node_modules
/todo-list/client/package-lock.json
/todo-list/server/node_modules
/todo-list/server/package-lock.json
/gmail-clone/client/node_modules
/gmail-clone/client/.env
/gmail-clone/client/package-lock.json
/gmail-clone/server/node_modules
/gmail-clone/server/package-lock.json