


.container {
  width: 60%;
  background: #FFF;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  margin: 10px auto 10px auto !important;
  min-height: 100vh;
}

.ql-toolbar.ql-snow {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1;
  background: #F3F3F3;
  border: none !important;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}